<div class="sidebar" data-color="green">
  <div class="logo">
    <a href="" class="simple-text logo-mini">
      <img src="../../../assets/images/logo.png" alt="Logo">
    </a>
    <a href="" class="simple-text logo-normal">
      F S F
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li routerLinkActive="active">
        <a routerLink="/dashboard/teams">
          <i class="now-ui-icons education_atom"></i>
          <p>Equipes</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dashboard/matchs">
          <i class="now-ui-icons objects_support-17"></i>
          <p>Matchs</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dashboard/standings">
          <i class="now-ui-icons business_chart-bar-32"></i>
          <p>classements</p>
        </a>
      </li>
    </ul>
  </div>
</div>